<h1>My list of restaurants</h1>

<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item">
    <%= restaurant.name %> |
    <%= link_to 'Details', "/restaurants/#{restaurant.id}" %>
    </li>
  <% end %>
</ul>
<%= link_to 'Add new restaurant', 'restaurants/new', class: "btn btn-primary mt-2" %>
